<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" th:fragment="navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">InterestMe</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form sec:authorize="hasAnyRole('USER', 'MODERATOR', 'ADMIN')" class="form-inline my-2 my-lg-0 mx-auto">
            <input class="form-control mr-auto mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul sec:authorize="hasAnyRole('USER', 'MODERATOR', 'ADMIN')" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/profile" th:text="${#authentication.getPrincipal().getEmail()}">Username</a>
            </li>
        </ul>
        <ul sec:authorize="hasAnyRole('USER', 'MODERATOR', 'ADMIN')" class="navbar-nav navbar-right">
            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-danger my-2 ml-4 my-sm-0" th:text="#{label.pages.logout}" type="submit"></button>
                </form>

            </li>
        </ul>

    </div>
</nav>

</body>
</html>