<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>

    <div class="login-page">
        <div class="form">
            <h2 th:text="#{message.resetPassword}">reset</h2>

            <input id="email" name="email" type="email" value="" th:placeholder="#{label.user.email}"/>
            <button id="buttonResetPassword" type="submit" th:text="#{message.resetPassword}">reset</button>

            <div class="links-container">
                <p class="message"><strong><a th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">registration</a></strong></p>
                <p class="message"><strong><a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a></strong></p>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#buttonResetPassword").click(resetPassword);
        });

        function resetPassword() {
            serverContext = "https://localhost:8443";
            var email = $("#email").val();
            $.post(serverContext+"/user/resetPassword", {email: email}, function (data) {
                window.location.replace(serverContext+"/login?message="+data.message);
            })
                .fail(function(data){
                    if(data.responseJSON.error.indexOf("MailError")>-1){
                        window.location.replace(serverContext+"/emailError.html");
                    }
                    else{
                        window.location.replace(serverContext+"/login?message="+data.responseJSON.message);
                    }
                });
        }
    </script>
</body>
</html>