<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="login-page">
        <div class="form">
            <h2 th:text="#{message.resetPassword}">reset</h2>

            <input id="email" name="email" type="email" value="" th:placeholder="#{label.user.email}"/>
            <button id="buttonResetPassword" type="submit" th:text="#{message.resetPassword}">reset</button>
            <input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
            <div class="links-container">
                <p class="message"><strong><a th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">registration</a></strong></p>
                <p class="message"><strong><a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a></strong></p>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#buttonResetPassword").click(resetPassword);
        });

        function resetPassword() {
            serverContext = "https://localhost:8443";
            email = $("#email").val();
            token = $('input#csrf-token').attr("content");


            $.ajax({
                type: "POST",
                url: serverContext+"/user/resetPassword",
                headers: {"X-CSRF-TOKEN": token},
                data:{
                    email:email
                },
                success: function(data) {
                    window.location.replace(serverContext+"/login?message="+data.message);
                },
                error:function (data){
                    if(data.responseJSON.error.indexOf("MailError")>-1){
                        window.location.replace(serverContext+"/emailError.html");
                    }
                    else{
                        window.location.replace(serverContext+"/login?message="+data.responseJSON.message);
                    }
                }
            });

        }
    </script>
</body>
</html>