<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- my js and jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"/>

    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>

<div class="login-page">
    <div class="form">
        <form  th:action="@{/login}" method="post" class="login-form">
            <input type="text" id="username" name="username" placeholder="username"/>
            <input type="password" id="password" name="password" placeholder="password"/>
            <button type="submit" >login</button>
            <p class="message-forgot-password"><strong><a th:href="@{/forgetPassword}" th:text="#{message.forgotPassword}">reset</a></strong></p>


            <div th:if="${param.error}" class="alert alert-danger login-message">
                <strong>Invalid username or password.</strong>
            </div>
            <div th:if="${param.logout}" class="notification">
                You have been logged out.
            </div>
            <!--<div th:if="${param.error != null}"
                 th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error
            </div>-->
            <div th:if="${message}" class="alert alert-warning login-message" >
                <strong><p th:text="${message}"></p></strong>
            </div>

            <p class="message">Not registered? <strong><a th:href="@{/user/registration}">Create an account</a></strong></p>

        </form>
    </div>
</div>

</body>
</html>