<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<div class="login-page">
    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
    <div class="form">
        <form class="register-form" action="/user/registration" th:object="${user}" method="POST" enctype="utf8" novalidate="novalidate">
            <input type="text" id="registration_fname" name="firstname" placeholder="name" th:field="*{firstName}" />
            <p class="registration-alert" th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
            <p id = "fname_error_message" class="registration-alert"></p>

            <input type="text" id="registration_lname" placeholder="lastname" th:field="*{lastName}" />
            <p class="registration-alert" th:each="error: ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
            <p id = "lname_error_message" class="registration-alert"></p>

            <input type="email" id="registration_email" placeholder="email address" th:field="*{email}" />
            <p class="registration-alert" th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
            <p id ="email_error_message" class="registration-alert"></p>

            <input type="password" id="registration_password" placeholder="password" th:field="*{password}" />
            <p class="registration-alert" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
            <p id="password_error_message" class="registration-alert"></p>

            <input type="password" id="registration_repassword" placeholder="retype password" th:field="*{matchingPassword}" />
            <p class="registration-alert" th:each="error : ${#fields.errors('matchingPassword')}"
               th:text="${error}">Validation error</p>
            <p id ="repassword_error_message" class="registration-alert"></p>

            <button id="registration_submit" type="submit">register</button>
            <p class="message">Already registered? <a th:href="@{/login}"><strong>Sign In</strong></a></p>

            <div  class="g-recaptcha" data-sitekey="6LfzR0AUAAAAAE7q8yr2fS4fRToTQJF37K95sIUn"></div>

        </form>
    </div>
</div>

<!-- jQuery & js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src = "/js/validate.js"></script>
</body>
</html>