<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
        <div class="login-page">
            <div class="form">
                <h2 th:text="#{message.resetYourPassword}">reset</h2>
                <form id="resetForm">
                    <input id="password" name="newPassword" type="password" value="" th:placeholder="#{label.user.password}"/>
                    <input id="matchPassword" type="password" value="" th:placeholder="#{label.user.confirmPassword}"/>
                    <input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
                    <div id="globalError" class="registration-alert" style="display:none" th:text="#{PasswordMatches.user}">error</div>
                    <button id="btnSubmit" th:text="#{message.updatePassword}">submit</button>
                </form>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script th:inline="javascript">
            serverContext = "https://localhost:8443";
            $(document).ready(function () {
               $(":password").keyup(function () {
                  if($("#password").val() != $("#matchPassword").val()){
                      $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
                  }else{
                      $("#globalError").html("").hide();
                  }
               });

            });

            $("#btnSubmit").click(function (event){
                formError = false;
                checkPasswordConstraint();
                if(formError){
                    event.preventDefault();
                }
                else{
                    savePassword(event);
                }
            });

            function checkPasswordConstraint(){
                pattern = /((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})/;
                password = $("#password").val();
                console.log("passwrod:"+password);
                if(pattern.test(password)){
                    $("#globalError").hide();
                }
                else{
                    $("#globalError").show().html("Password too weak (minimum 8 characters, 1 uppercase, 1 number and 1 special)");
                    formError = true;
                }
            }

            function checkPasswordMatch(){
                password = $("#password").val();
                rePassword = $("#matchPassword").val();
                if(password !== rePassword){
                    formError = true;
                }
            }

            function  savePassword(event){
                event.preventDefault();
                if($("#password").val() != $("#matchPassword").val()){
                    $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
                    return;
                }
                var formData = $('form').serialize();
                token = $('input#csrf-token').attr("content");

                $.ajax({
                    type: "POST",
                    url: serverContext+"/user/savePassword",
                    headers: {"X-CSRF-TOKEN": token},
                    data:formData,
                    success: function(data) {
                        window.location.replace(serverContext+"/login?message="+data.message);
                    },
                    error:function (data){
                        var errors = $.parseJSON(data.responseJSON.message);
                        $.each( errors, function( index,item ){
                            $("#globalError").show().html(item.defaultMessage);
                        });
                        errors = $.parseJSON(data.responseJSON.error);
                        $.each( errors, function( index,item ){
                            $("#globalError").show().append(item.defaultMessage+"<br/>");
                        });
                    }
                });

                //Old way of ajax post before enabling csrf
                /*$.post(serverContext+"/user/savePassword", formData, function (data) {
                    window.location.replace(serverContext+"/login?message="+data.message);
                })
                    .fail(function (data) {
                        var errors = $.parseJSON(data.responseJSON.message);
                        $.each( errors, function( index,item ){
                            $("#globalError").show().html(item.defaultMessage);
                        });
                        errors = $.parseJSON(data.responseJSON.error);
                        $.each( errors, function( index,item ){
                            $("#globalError").show().append(item.defaultMessage+"<br/>");
                        });
                    });*/
            }
        </script>
    </div>
</body>
</html>